body {
    background-color: #ffeedf;
    font-family: 'EB Garamond', serif;
}

.john {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;

    font-family: 'EB Garamond', serif;
    font-size: 24px;

    color: #999;
    
    width: 290px;
    height: 416px;

    padding-top: 27px;
    padding-right: 27px;
    padding-bottom: 27px;
    padding-left: 27px;


}

#jheading {
    display: block;
    font-size: 48px;
    font-weight: normal;

    color: #33793f;

}

#pthief {
    color: #999;

    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.angela {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-content: space-between;

    font-family: 'EB Garamond', serif;
    font-size: 24px;

    color: #999;
    
    width: 290px;
    height: 416px;

    padding-top: 27px;
    padding-right: 27px;
    padding-bottom: 27px;
    padding-left: 27px;


}

#aheading {
    display: block;
    font-size: 48px;
    font-weight: normal;

    color: #33793f;

}

#steaks {
    color: #999;

    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.rita {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-content: space-between;

    font-family: 'EB Garamond', serif;
    font-size: 24px;

    color: #999;
    
    width: 290px;
    height: 416px;

    padding-top: 27px;
    padding-right: 27px;
    padding-bottom: 27px;
    padding-left: 27px;


}

